@charset "UTF-8";
/* CSS Document */
/*A-V Twin Finch*/


/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/

/*-------- 1.0 Typography --------*/

html {
	font-size: 12pt;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
}

h2 {
	color: #000;
}

#rating-bar p > a:hover, h3 {
	color: #7d5a47;
}

h2, h3 {
	text-transform: uppercase;
}

.bold-txt {
	font-weight: 700;
}

blockquote {
	font-size: 1.2rem;
	text-align: center;
}

#evening-oak-header {
	font-size: 1.7rem;
}

blockquote footer a:hover, #evening-oak-header {
	color: #000;
}

#roasts {
	font-size: 2rem;
}

/*-------- 1.3 Buttons --------*/

figure ~ .buy-now-b, #submit-b-contact {
	color: #7d5a47;
	border: solid #7d5a47;
}

figure ~ .buy-now-b {
	margin-top: 50px;
	display: inline-block;
}

figure ~ .buy-now-b:hover, #submit-b-contact:hover {
	color: #fff;
	background-color: #7d5a47;
}

#submit-b-newsletter:hover {
	color: #7d5a47;
	background-color: #fff;
}

#how-to-brew-b {
	margin-right: 20px;
}


.wrapper{
	width: 70%;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

.row:after {
	content:"";
	display: table;
	clear: both;
}

.col-10-12 span {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
}

/* ------- 1.4 FORMS ------- */

label {
	display: none;
}

placeholder {
	text-transform: uppercase;
}

input {
	margin-bottom: 20px;
	margin-right: 10px;
}

.col-1-2 input, .col-1-2 textarea {	
	width: 85%;
}

.col-1-2 form {
	padding-left: 100px;
}

input, textarea {
	border-color: #7d5a47;
	outline: none;
	color: #7d5a47;
}

textarea {
	margin-bottom: 40px;
}

.bg-color-brown form > input {
	margin-left: 20px;
}

input[type=text]:focus {
    border: 3px solid #000;
}

input::-webkit-input-placeholder {
color: #7d5a47
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #7d5a47 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #7d5a47 !important;  
}
 
input:-ms-input-placeholder {  
color: #7d5a47 !important;  
}

textarea::-webkit-input-placeholder {
color: #7d5a47 !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: #7d5a47 !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #7d5a47 !important;  
}
 
textarea:-ms-input-placeholder {  
color: #7d5a47 !important;  
}

input[type="email"]::-webkit-input-placeholder {
color: #7d5a47 !important;
}
 
input[type="email"]:-moz-placeholder { /* Firefox 18- */
color: #7d5a47 !important;  
}
 
input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
color: #7d5a47 !important;  
}
 
input[type="email"]:-ms-input-placeholder {  
color: #7d5a47 !important;  
}

/* ------- 2.0 NAV ITEMS ------- */

a {
	text-decoration: none;
	text-transform: uppercase;
}

li:hover, #how-to-brew-b:hover, .col-10-12 .buy-now-b:hover {
	background-color: #7d5a47;
}

.col-1-2 li, #how-to-brew-b, .buy-now-b, #submit-b-newsletter {
	border: solid #fff;
}

#cover-photo, a, .bg-color-brown, #rating-bar {
	color: #fff;
}

li, #how-to-brew-b, .buy-now-b, #submit-b-newsletter, #submit-b-contact {
	padding: 10px 20px;
}

#nav-logo {
	margin-top: 10px;
}

li {
	display: inline-block;
}

ul {
	text-align: right;
}

.bg-color-brown {
	background-color: #7d5a47;
	padding: 20px;
}

#rating-bar {
	background-color: #000;
	padding: 5px 0;
}

/* ------- 3.0 CONTENT ------- */

#coffeebean-div {
	background: url(../img/coffee-beans.png) no-repeat ;	
	background-size: cover;
	height: 300px;
	margin: 0;
}

#arrow-up {
	width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  	border-bottom: 20px solid black;
	position: relative;
	top: 0;
	left: 825px;
}

#relative-div {
	position: relative;
	margin: 0;
	padding: 0;
}

#absolute-div {
	position: absolute;
	bottom: 300px;
    left: 100px;
}


/* ------- 4.0 MEDIA ------- */

#map {
	height: 400px;
	margin-bottom: 0;
}

figure {
	margin: 0;
}

#cover-photo {
	background: url(../img/cover-photo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0 75px 100px 75px;
}

img {
	max-width: 100%;
}

#fb-icon {
	background-image: url(../img/sprite-fb.png);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lnkdin-icon {
	background-image: url(../img/sprite-lnkdin.png);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twitter-icon {
	background-image: url(../img/sprite-twitter.png);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fb-icon, #twitter-icon, #lnkdin-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#fb-icon:hover, #twitter-icon:hover, #lnkdin-icon:hover {
	background-position: 0 -30px;	
}

/* --------- 5.0 Utilities --------- */

#about, #contact {
	margin-top: 40px;
}

.margin-top {
	margin-top: 150px;
}

#newsletter-margin {
	margin-left: 130px;
}

.col-10-12 p {
	margin-bottom: 50px;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 20px;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-10-12 {
	width: 83.33%;
	float: none;
	margin: 0 auto;
	height: 200px;
	margin-top: 75px;
}

.bg-color-brown form, .bg-color-brown p {
	display: inline-block;
}

footer > ul {
	text-align: left;
	padding-top: 25px;
	padding-bottom: 30px;
}

footer li {
	padding: 0;
}
	
#rating-bar p, .text-center, .col-10-12 {
	text-align: center;
}





@media screen and (max-width: 768px) {
html {
	font-size: 16px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}
	
#nav-logo, ul {
	float: none;
	padding: 0;
}

#about, #about-p {
	margin-left: 20px;
}

#newsletter-margin {
	margin: 0;
	margin-bottom: 30px;
}

#submit-b-contact {
	display: block;
    width: 25%;
    margin-bottom: 30px;
}

nav, #nav-logo, ul, #girl-coffee-img {
	text-align: center;
}

.bg-color-brown ul {
	text-align: center;
}

.bg-color-brown form > input {
	margin-left: 0;
}

#arrow-up {
	top: 0;
	left: 180px;
}

.col-1-2 form {
	padding-left: 20px;
}

.col-1-2 input, .col-1-2 textarea {	
	width: 100%;
}

.col-1-2 li {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.col-1-4, .col-1-8, .col-1-2 {
	width: 100%;
}

.col-1-4:nth-child(2), .col-1-6:nth-child(3), .col-1-7:nth-child(2), .col-1-7:nth-child(4), .col-1-7:nth-child(6), .col-1-8:nth-child(2), .col-1-8:nth-child(4), .col-1-8:nth-child(6), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(2), .col-1-10:nth-child(4), .col-1-10:nth-child(6), .col-1-10:nth-child(8), .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9) {
	padding-right: 0;
}

.col-3-4, .col-1-10 {
	width: 50%;
}

.col-10-12 {
	width: 90%;
	padding-bottom: 20px;
	margin: 0;
	height: inherit;
}

#how-to-brew-b, .col-10-12 .buy-now-b {
	padding-left: 10px;
	padding-right: 10px;
}

#how-to-brew-b {
	margin-right: 0;
}

.col-10-12 p {
	margin-top: 0;
}

.col-1-5, .col-1-11, .col-1-7:last-child  {
	width: 100%;
	padding-right: 0;
}

.col-1-6, .col-1-9, .col-1-12 {
	width: 33.33%;
}

.col-1-7:first-child, .col-1-7:nth-child(3), .col-1-7:nth-child(5) {
	width: 28.571%;
}

.col-1-7:nth-child(2), .col-1-7:nth-child(4), .col-1-7:nth-child(6) {
	width: 71.429%;
}

}
